<!DOCTYPE html>
<html lang="en">
<head>
  <title>YlTib - Shortify it!</title>

  <!--Font for header-->
  <link href='http://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet' type='text/css'>

  <!--Link to own created CSS-->
  <%= stylesheet_link_tag "baseStyling" %>
  <%= stylesheet_link_tag "header" %>
  <%= stylesheet_link_tag "footer" %>
  <%= stylesheet_link_tag "linkForm" %>
  <%= stylesheet_link_tag "linkListings" %>
  <!--Standard CSS links for RoR-->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render "fixedParts/header" %>

<div id="MainDiv">
  <div id="BodyDiv">
    <%= yield %>
  </div>
</div>

<%= render "fixedParts/footer" %>

</body>
</html>
