<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Original link</th>
      <th>Shortened link</th>
      <th>Click count</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.original_link %></td>
        <td><%= link.shortened_link %></td>
        <td><%= link.click_count %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
