<div class="DivTitle">
  <h1>Link successfully shortened!</h1>
</div>

<div class="BoxedDiv">

  <p>
    <strong>Original link:</strong>
    <a  class="LinkText" href=" <%= @link.original_link %> ">
      <%= @link.original_link %>
    </a>
  </p>

  <br/>

  <p>
    <strong>Shortened link:</strong>
    <a  class="LinkText" href=" <%= root_url + @link.shortened_link %> ">
      <%= root_url + @link.shortened_link %>
    </a>
  </p>

  <br/>

  <% if @link.click_count > 0 %>
      <strong>Click count:</strong>
      <%= @link.click_count %>
  <% end %>

</div>

